Repository ElzabeEls/ASE_2024_GROUP_B, pull requests merged in 2024-11, with the labels that each got.

#240 Filter by Tags #59
  app/api/Tags/route.js
Labels: Backend Filtering

#264 Front end filter by number
  app/api/recipes/route.js
  app/components/StepsFilter.js
  app/page.js
  lib/api.js
Labels: Filtering

#266 Show message when there are no recipes that match the steps entered
  app/api/recipes/route.js
  app/page.js
Labels: Filtering

#283 Retrieve recommended recipes #245
  app/api/recipes/route.js
  lib/api.js
  package-lock.json
Labels: Reviews Backend

#288 Api endpoint for retrieving reviews #243
  app/api/reviews/[recipeId]/route.js
  app/script/createReviews.js
  package-lock.json
  package.json
Labels: Reviews Backend

#289 244-interactivity-with-recommended-recipes
  app/Home.js
Labels: Recommended Recipes Frontend

#291 Login form #193
  app/components/Header.js
  app/login/page.js
  app/signup/page.js
Labels: Frontend sign-up & sign-in

#293 231 view reviews and ratings for each recipe
  app/components/RecipeReviews.js
  app/recipes/[id]/page.js
  lib/api.js
  package-lock.json
Labels: Reviews Frontend, Reviews Backend

#292 Login route for email and password #202
  app/Home.js
  app/api/authorisation/login/route.js
  package-lock.json
  package.json
Labels: Backend sign-up & sign-in

#368 Update recipe with average rating and review count #235
  app/api/reviews/[recipeId]/route.js
Labels: Reviews Backend

#369 Implemented user feedback message when signing up
  app/signup/page.js
Labels: Frontend sign-up & sign-in

#370 Logging-in User Feedback #195
  app/login/page.js
Labels: Frontend sign-up & sign-in

#371 Unified endpoint for adding editing and deleting reviews #236
  app/api/reviews/[recipeId]/route.js
Labels: Reviews Backend

#373 Theme toggle #209
  app/components/AdvancedFiltering.js
  app/components/Header.js
  app/components/SignUp.js
  app/components/ThemeToggle.js
  app/global.css
  app/layout.js
  lib/metadata.js
  tailwind.config.js
Labels: Theme Toggle

#374 User preference already applied, added JsDocs
  app/components/ThemeToggle.js
Labels: Theme Toggle

#375 325 read instructions button
  app/components/ReadInstructionsButton.js
  app/recipes/[id]/page.js
Labels: Voice AI

#377 325 read instructions button
  app/recipes/[id]/page.js
Labels: Voice AI

#376 Debounce auto submission long query #8
  app/components/SearchBar.js
  package-lock.json
Labels: Text search

#378 Read Instruction out loud
  app/components/ReadInstructionsButton.js
Labels: Voice AI

#372 Login route for email and password #202
  app/api/authorisation/login/route.js
  app/api/test/route.js
  middleware.js
  package-lock.json
  package.json
Labels: Backend sign-up & sign-in

#379 337 stop and exit voice assist mode
  app/components/ReadInstructionsButton.js
Labels: Voice AI

#380 333 handle text to speech failure
  app/components/ReadInstructionsButton.js
Labels: Voice AI

#381 Add review and rating for recipe #227
  app/api/reviews/[recipeId]/route.js
  app/components/RecipeReviews.js
Labels: Reviews Frontend

#382 Debounce auto submission waiting#10
  app/components/SearchBar.js
Labels: Text search

#384 Pause Voice Assistant #330
  app/components/ReadInstructionsButton.js
Labels: Voice AI

#385 Edit existing review and rating #228
  app/api/reviews/[recipeId]/route.js
  app/components/RecipeReviews.js
Labels: Reviews Frontend

#387 Display nutritional information #112
  app/recipes/[id]/page.js
Labels: Recipe Details

#386 Loading indicator for search requests #6
  app/components/SearchBar.js
Labels: Text search

#390 Delete my review for a recipe #229
  app/api/reviews/[recipeId]/route.js
  app/components/RecipeReviews.js
Labels: Reviews Frontend

#392 3 highlight matching words
  app/components/RecipeCard.js
  app/components/SearchBar.js
  app/recipe/page.js
  lib/utils.js
Labels: Text search

#394 Review user feedback and reactivity #230
  app/components/RecipeReviews.js
Labels: Reviews Frontend

#393 334 adjust speech speed
  app/components/ReadInstructionsButton.js
  app/components/SpeedAdjuster.js
  app/recipes/[id]/page.js
Labels: Voice AI

#396 Dynamic UI updates #211
  app/components/AdvancedFiltering.js
  app/components/Carousel.js
  app/components/CategoryFilter.js
  app/components/CookTimeIcon.js
  app/components/Header.js
  app/components/ReadInstructionsButton.js
  app/components/RecipeCard.js
  app/components/SearchBar.js
  app/components/SignUp.js
  app/components/StepsFilter.js
  app/components/error.js
  app/global.css
  app/layout.js
  app/signup/page.js
  package-lock.json
Labels: Theme Toggle
